body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", helvetica,arial,sans-serif;


}
a{
  font-weight: 400;
  text-decoration:none;
}
a:hover{
  color: #EAF6F6;
}

h1{
  margin: 0 auto 0 auto;
  font-size: 563%; /* 100% is iqual to 16px*/
  font-family: 'Sacramento', serif;

}
h2{
  font-family: 'Merriweather', serif;
  font-size: 2.0rem;
  padding-bottom: 10px;

}

h3{
  font-family: 'Merriweather', serif;
}


hr {
  width:80px;
  border: dotted grey 8px;
  border-bottom: none;
  margin: 70px auto 70px auto;
}

.mypic{

  display:inline-block;
  text-align: center;
  height: 230px;
  width: 230px;
  margin-bottom: 20px;

  /* not working margin-top: 50;*/

}

.music{
  height: 230px;
  width:230px;

}

.top_container {
  margin: 0 0 0 0;
  background-color: #EAF6F6;
  position: relative;
  padding-top: 70px;
}
.middle_container {
  padding-top: 20px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top_cloud{
  position: absolute;
  right :150px;
  top:50px;
}

.bottom_cloud{
  position: absolute;
  left:150px;
  bottom: 300px;
}

.class{
  font-weight: normal;
}
.bat{
  margin-top: 30px;
}

.intro{
  width: 60%;
  margin:auto;
    padding-top: 10px;
}

.hobbypara{
  width: 60%;
  margin:0 auto 0 auto;
}
/* id selector*/
h2:hover {
  text-shadow: 2px 2px red;
}


.myButton {
  margin: 20px auto 20px auto;
	box-shadow: 0 0 0 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
